<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >        
    <add name="AppConfigConnection" connectionString="Application Name=AppConfigConnection;Data Source=AppConfigConnection;user id=AppConfigConnection;password=AppConfigConnection;Initial Catalog=AppConfigConnection;persist security info=True;" providerName="AppConfigConnection" />
  </connectionStrings >
  <appSettings>
    <add key="AppConfig" value="Valor obtido do arquivo App.config"/>
  </appSettings>
</configuration>