<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="WebConfigConnection" connectionString="Application Name=WebConfigConnection;Data Source=WebConfigConnection;user id=WebConfigConnection;password=WebConfigConnection;Initial Catalog=WebConfigConnection;persist security info=True;" providerName="WebConfigConnection" />
  </connectionStrings >
  <appSettings>
    <add key="WebConfigAppSettings" value="Valor obtido do arquivo Web.config"/>
  </appSettings>
</configuration>